/UserForm/nbproject/private/
/UserForm/build/
/MahasiswaForm/nbproject/private/
/MahasiswaForm/build/
/MahasiswaForm2/nbproject/private/
/MahasiswaForm2/build/
/TodoListSimple/nbproject/private/
/TodoListSimple/build/
/TodoListSimple/dist/
/MahasiswaForm2/dist/
/passwordManager/nbproject/private/
/passwordManager/build/
/tesuploadfile/nbproject/private/
/tesuploadfile/build/
/UAS_Prak_PBD_Yuga_057/nbproject/private/
/UAS_Prak_PBD_Yuga_057/build/
/nama_000/nbproject/private/
/nama_000/build/
/yuga_057_2/nbproject/private/